* {
  box-sizing: border-box;
}
.row {
  display: flex;
}
.column {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-bird {
  width: 64px;
  height: 64px;
}
.large-bird {
  width: 320px;
  height: 320px;
}
