body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 40px;
  background-color: yellow;
}
.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  align-items: center;
}
.nav li {
  margin-left: 16px;
}
main {
  display: flex;
  flex-grow: 1;
}
section {
  background-color: pink;
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  background-color: grey;
  width: 200px;
}
aside h2 {
  margin: 16px 0;
  text-align: center;
}
.news {
  list-style-type: none;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.news li {
  margin-left: 16px;
}
footer {
  height: 40px;
  background-color: green;
  display: flex;
}
span {
  margin: auto;
}
